Repository bitwarden/android, pull requests merged in 2021-12, with the labels that each got.

#1691 Fix Unsafe deserialization of Parcel data Intent
  src/Android/Accessibility/AccessibilityActivity.cs
  src/Android/Android.csproj
  src/Android/MainActivity.cs
  src/Android/Utilities/IntentExtensions.cs
  src/Android/WebAuthCallbackActivity.cs
Labels: bug, android

#1692 Improve Delete Account UI
  src/Android/Resources/drawable/ic_warning.xml
  src/App/Pages/Accounts/DeleteAccountPage.xaml
  src/App/Styles/Android.xaml
  src/App/Styles/Black.xaml
  src/App/Styles/Dark.xaml
  src/App/Styles/Light.xaml
  src/App/Styles/Nord.xaml
  src/App/Styles/iOS.xaml
  src/iOS/Resources/Assets.xcassets/ic_warning.imageset/Contents.json
  src/iOS/Resources/Assets.xcassets/ic_warning.imageset/ic_warning-1.pdf
  src/iOS/Resources/Assets.xcassets/ic_warning.imageset/ic_warning.pdf
  src/iOS/iOS.csproj
Labels: enhancement, android, ios

#1695 Added logic for version check step
  .github/workflows/release.yml
Labels: DevOps
