Repository bitwarden/android, pull requests merged in 2022-03, with the labels that each got.

#1823 Renewed certificates and profiles
  .github/secrets/dist_autofill.mobileprovision.gpg
  .github/secrets/dist_bitwarden.mobileprovision.gpg
  .github/secrets/dist_extension.mobileprovision.gpg
  .github/secrets/dist_share_extension.mobileprovision.gpg
  .github/secrets/iphone-distribution-cert.p12.gpg
Labels: DevOps

#1827 [Captcha] Implement for 2fa
  src/App/Pages/Accounts/TwoFactorPageViewModel.cs
  src/Core/Abstractions/IAuthService.cs
  src/Core/Services/AuthService.cs
Labels: enhancement

#1831 [Build] Remove Microsoft.AppCenter.Crashes from Core on F-Droid
  .github/workflows/build.yml
Labels: DevOps

#1835 Prevent tapping on app area if its obscured by another window
  src/Android/MainActivity.cs
Labels: android

#1845 Fix Settings crash by removing grouped items
  src/App/Pages/Settings/SettingsPage/ISettingsPageListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPage.xaml
  src/App/Pages/Settings/SettingsPage/SettingsPageHeaderListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListItemSelector.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
Labels: bug, ios

#1852 Fixed flickering on iOS while loading collections
  src/App/Pages/Send/SendGroupingsPage/SendGroupingsPageViewModel.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Pages/Vault/AutofillCiphersPageViewModel.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageViewModel.cs
Labels: bug, ios

#1856 Fix crash iOS AppDelegate OnActivated
  src/iOS/AppDelegate.cs
Labels: bug, ios
