Repository bitwarden/android, pull requests merged in 2022-07, with the labels that each got.

#1879 EC-149 Fix crash when trying to Focus on Lock page
  src/App/Pages/Accounts/LockPage.xaml.cs
  src/App/Pages/Accounts/LockPageViewModel.cs
Labels: bug, ios

#1917 [EC-234] [BEEEP] Improved BroadcastService and added exception handling on async void callbacks
  src/Android/MainApplication.cs
  src/App/App.xaml.cs
  src/App/Pages/Accounts/HomePage.xaml.cs
  src/App/Pages/Send/SendGroupingsPage/SendGroupingsPage.xaml.cs
  src/App/Pages/Vault/AutofillCiphersPage.xaml.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPage.xaml.cs
  src/App/Pages/Vault/ViewPage.xaml.cs
  src/Core/Abstractions/IBroadcasterService.cs
  src/Core/Services/BroadcasterService.cs
  src/iOS.Core/Renderers/CustomTabbedRenderer.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
  src/iOS/AppDelegate.cs
Labels: enhancement

#1978 [EC-304] Replace link to mobile section of contributing documentation
  README.md
Labels: community-pr

#1983 [EC-308] Fix crash on avatar image creation on iOS Autofill
  src/iOS.Core/Utilities/AccountSwitchingOverlayHelper.cs
  src/iOS.Core/Utilities/ImageSourceExtensions.cs
Labels: bug, ios

#1986 [PS-1074] Use correct icon for checked/unchecked boolean
  src/App/Pages/Vault/ViewPageViewModel.cs
Labels: community-pr

#1886 [EC-326] Add support for iodé Browser
  src/Android/Accessibility/AccessibilityHelpers.cs
  src/Android/Autofill/AutofillHelpers.cs
  src/Android/Resources/xml/autofillservice.xml
Labels: community-pr

#1855 [EC-327] Opera GX Autofill Support on Android
  src/Android/Accessibility/AccessibilityHelpers.cs
  src/Android/Autofill/AutofillHelpers.cs
  src/Android/Resources/xml/autofillservice.xml
Labels: community-pr

#1988 [EC-312] Fix crash on entering invalid credentials five times on iOS Autofill
  src/App/Abstractions/IAccountsManager.cs
  src/App/App.xaml.cs
  src/App/Utilities/AccountManagement/AccountsManager.cs
  src/Core/Services/AuthService.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Core/Controllers/BaseLockPasswordViewController.cs
Labels: bug, ios

#2000 [PS-1080] Added text alternative to Boolean custom field icon
  src/App/Pages/Vault/ViewPage.xaml
  src/App/Pages/Vault/ViewPageViewModel.cs
  src/Core/Models/View/FieldView.cs
Labels: Accessibility

#2014 [EC-366] Updated AndroidManifest format
  src/Android/Properties/AndroidManifest.xml
Labels: android
