Repository bitwarden/android, pull requests merged in 2022-09, with the labels that each got.

#2063 [PS-1312] Migration to android12 and new splashscreen
  src/Android/Accessibility/AccessibilityService.cs
  src/Android/Android.csproj
  src/Android/Autofill/AutofillHelpers.cs
  src/Android/Autofill/AutofillService.cs
  src/Android/MainActivity.cs
  src/Android/Properties/AndroidManifest.xml
  src/Android/Resources/drawable-night-v26/splash_screen_round.xml
  src/Android/Resources/drawable-v26/splash_screen_round.xml
  src/Android/Resources/drawable/logo_rounded.xml
  src/Android/Resources/values-night/styles.xml
  src/Android/Resources/values/styles.xml
  src/Android/Services/ClipboardService.cs
  src/Android/Tiles/AutofillTileService.cs
  src/Android/Tiles/GeneratorTileService.cs
  src/Android/Tiles/MyVaultTileService.cs
  src/Android/Utilities/AndroidHelpers.cs
  src/Android/WebAuthCallbackActivity.cs
Labels: android

#2078 PS-1404 Improved exception handling when saving an attachment
  src/App/Pages/Vault/AttachmentsPage.xaml
  src/App/Pages/Vault/AttachmentsPage.xaml.cs
  src/App/Pages/Vault/AttachmentsPageViewModel.cs
Labels: bug, ios

#2088 [PS-1312] Update NFCAdapter mutability flag
  src/Android/MainActivity.cs
Labels: android

#2097 [SG-671] OTP Menu Screen causes Crash on Android
  src/App/Pages/Vault/CipherDetailsPageViewModel.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageTOTPListItem.cs
  src/App/Utilities/TotpHelper.cs
  src/Core/Constants.cs
  src/Core/Services/TotpService.cs
  src/Core/Utilities/CoreHelpers.cs
Labels: android, ios
