Repository bitwarden/android, pull requests merged in 2022-02, with the labels that each got.

#1750 [Icons] FF requested icon changes
  src/App/Pages/Vault/AddEditPage.xaml
  src/App/Pages/Vault/GroupingsPage/GroupingsPageListItem.cs
Labels: enhancement

#1753 Create and use Account Switching overlay control
  src/App/App.csproj
  src/App/Controls/AccountSwitchingOverlay/AccountSwitchingOverlayView.xaml
  src/App/Controls/AccountSwitchingOverlay/AccountSwitchingOverlayView.xaml.cs
  src/App/Controls/AccountSwitchingOverlay/AccountSwitchingOverlayViewModel.cs
  src/App/Pages/Accounts/HomePage.xaml
  src/App/Pages/Accounts/HomePage.xaml.cs
  src/App/Pages/Accounts/HomePageViewModel.cs
  src/App/Pages/Accounts/LockPage.xaml
  src/App/Pages/Accounts/LockPage.xaml.cs
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/Accounts/LoginPage.xaml
  src/App/Pages/Accounts/LoginPage.xaml.cs
  src/App/Pages/Accounts/LoginPageViewModel.cs
  src/App/Pages/BaseContentPage.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPage.xaml
  src/App/Pages/Vault/GroupingsPage/GroupingsPage.xaml.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageViewModel.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Services/StateService.cs
Labels: android, ios

#1755 Dismiss Account Switching overlay when tapping on the tabs
  src/Android/Renderers/CustomTabbedRenderer.cs
  src/App/Pages/TabsPage.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPage.xaml.cs
  src/iOS.Core/Renderers/CustomTabbedRenderer.cs
Labels: android, ios

#1758 [Help] Update links to new pattern
  src/App/Pages/Accounts/TwoFactorPageViewModel.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Pages/Vault/AddEditPageViewModel.cs
  src/App/Pages/Vault/AttachmentsPageViewModel.cs
Labels: enhancement

#1759 Fix crash Autofocus on TOTP Scan
  src/App/Pages/Vault/ScanPage.xaml.cs
Labels: android

#1764 Improve Scan autofocus timer to task code
  src/App/Pages/Vault/ScanPage.xaml.cs
Labels: android

#1773 [Icons] - BUG - Update groupings icon for collections
  src/App/Pages/Vault/GroupingsPage/GroupingsPageListItem.cs
Labels: bug

#1776 Build: Upload dSYMs to AppCenter
  .github/workflows/build.yml
Labels: DevOps

#1782 Fix Password Generator view bottom truncated Large Font Size
  src/App/Pages/Generator/GeneratorPage.xaml
  src/App/Styles/Base.xaml
Labels: android

#1785 Fix Large Font Accessibility issues on icons on Vault and Send
  src/Android/Services/DeviceActionService.cs
  src/App/Abstractions/IDeviceActionService.cs
  src/App/Controls/CipherViewCell/CipherViewCell.xaml
  src/App/Controls/CipherViewCell/CipherViewCell.xaml.cs
  src/App/Controls/IconLabel.cs
  src/App/Controls/SendViewCell/SendViewCell.xaml
  src/App/Controls/SendViewCell/SendViewCell.xaml.cs
  src/App/Pages/Send/SendGroupingsPage/SendGroupingsPage.xaml
  src/App/Pages/Vault/GroupingsPage/GroupingsPage.xaml
  src/App/Styles/Base.xaml
  src/iOS.Core/Renderers/CustomLabelRenderer.cs
  src/iOS.Core/Services/DeviceActionService.cs
  src/iOS.Core/Utilities/FontElementExtensions.cs
  src/iOS.Core/iOS.Core.csproj
Labels: android, ios

#1795 Fix vault item icon image size to be adaptive on Large Font Size Accessibility
  src/App/Controls/CipherViewCell/CipherViewCell.xaml
  src/App/Controls/CipherViewCell/CipherViewCell.xaml.cs
Labels: android, ios

#1798 Fix Options being seen in two lines on Add/edit Send
  src/App/Pages/Send/SendAddEditPage.xaml.cs
Labels: android, ios

#1809 Changed links on Settings "Change Master Password" and "Two Step Login"
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/CaptchaProtectedViewModel.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Utilities/AppHelpers.cs
  src/Core/Abstractions/IEnvironmentService.cs
  src/Core/Services/EnvironmentService.cs
Labels: android, ios
