Repository bitwarden/android, pull requests merged in 2022-08, with the labels that each got.

#2011 [EC-341] Fix show alternative 2FA on iOS extensions
  src/App/Pages/Accounts/TwoFactorPage.xaml
  src/App/Pages/Accounts/TwoFactorPage.xaml.cs
  src/App/Pages/Accounts/TwoFactorPageViewModel.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/iOS.Autofill.csproj
  src/iOS.Core/Services/DeviceActionService.cs
  src/iOS.Extension/iOS.Extension.csproj
  src/iOS.ShareExtension/iOS.ShareExtension.csproj
Labels: ios

#2016 [EC-371] Fix iOS extensions login more menu
  src/App/Pages/Accounts/HintPage.xaml
  src/App/Pages/Accounts/HintPage.xaml.cs
  src/App/Pages/Accounts/HintPageViewModel.cs
  src/App/Pages/Accounts/LoginPage.xaml
  src/App/Pages/Accounts/LoginPage.xaml.cs
  src/App/Pages/Accounts/LoginPageViewModel.cs
  src/App/Utilities/ThemeManager.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Core/Controllers/BaseLockPasswordViewController.cs
  src/iOS.Core/Controllers/LockPasswordViewController.cs
  src/iOS.Core/Services/DeviceActionService.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: ios

#2023 [PS-1219] Crash when login with SSO
  src/App/Pages/Accounts/LoginSsoPage.xaml.cs
  src/App/Pages/Accounts/LoginSsoPageViewModel.cs
Labels: bug

#2021 [PS-1228] Android: Label of terms of service and privacy policy switch is too close to the actual switch in the sign-up screen
  src/App/Pages/Accounts/RegisterPage.xaml
  src/App/Pages/Accounts/RegisterPageViewModel.cs
Labels: community-pr

#2038 [PS-1009] Changed keyboard on Passphrase generator to not allow emojis
  src/Android/Android.csproj
  src/Android/Effects/NoEmojiKeyboardEffect.cs
  src/App/Effects/NoEmojiKeyboardEffect.cs
  src/App/Pages/Generator/GeneratorPage.xaml
  src/iOS.Core/Effects/NoEmojiKeyboardEffect.cs
  src/iOS.Core/iOS.Core.csproj
Labels: bug, android, ios

#2031 [PS-1252] Fix Content Type for file upload
  src/Core/Services/BitwardenFileUploadService.cs
Labels: community-pr

#2053 [PS-191] Improve support for larger fonts Android
  src/Android/MainActivity.cs
Labels: android, Accessibility
