Repository bitwarden/android, pull requests merged in 2022-12, with the labels that each got.

#2213 [EC-759] Add avatar header Apple Watch MVP
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Controls/AvatarView.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/ColorUtils.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/StringExtensions.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ViewModels/CipherListViewModel.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Views/CipherListView.swift
  src/watchOS/bitwarden/bitwarden.xcodeproj/project.pbxproj
Labels: watchOS

#2214 [EC-786] Apple Watch MVP Sync fixes
  src/App/Services/BaseWatchDeviceService.cs
  src/Core/Enums/WatchState.cs
  src/Core/Models/View/WatchDTO.cs
  src/iOS.Core/Services/WatchDeviceService.cs
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Models/VaultTimeoutAction.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Models/WatchDTO.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Services/StateService.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/BWState.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ViewModels/BWStateViewModel.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/WatchConnectivityManager.swift
Labels: watchOS

#2209 [PS-1707] improve dark layout colors
  src/Android/Renderers/CustomSwitchRenderer.cs
  src/Android/Utilities/ThemeHelpers.cs
  src/App/Controls/CircularProgressbarView.cs
  src/App/Controls/ExtendedSlider.cs
  src/App/Controls/ExtendedStepper.cs
  src/App/Pages/Accounts/SetPasswordPage.xaml
  src/App/Pages/Accounts/UpdateTempPasswordPage.xaml
  src/App/Pages/Generator/GeneratorPage.xaml
  src/App/Pages/Send/SendAddEditPage.xaml
  src/App/Pages/Send/SendAddOnlyPage.xaml
  src/App/Pages/Send/SendGroupingsPage/SendGroupingsPage.xaml
  src/App/Pages/Settings/ExportVaultPage.xaml
  src/App/Pages/Settings/SettingsPage/SettingsPage.xaml
  src/App/Pages/Vault/CipherAddEditPage.xaml
Labels: android, ios

#2218 [EC-579] Apple Watch MVP iOS settings and activation
  src/Android/Services/DeviceActionService.cs
  src/Android/Services/WatchDeviceService.cs
  src/App/Abstractions/IDeviceActionService.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Services/BaseWatchDeviceService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Abstractions/IWatchDeviceService.cs
  src/Core/Constants.cs
  src/Core/Enums/WatchState.cs
  src/Core/Services/StateService.cs
  src/iOS.Core/Services/DeviceActionService.cs
  src/iOS.Core/Services/WatchDeviceService.cs
  src/iOS.Core/Utilities/WCSessionManager.cs
  src/iOS/AppDelegate.cs
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/BWState.swift
Labels: watchOS

#2226 [EC-616] Apple Watch MVP Cipher Search
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Controls/TrackableWithHeaderListView.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Localization/en.lproj/Localizable.strings
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/ColorUtils.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/ViewExtensions.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ViewModels/CipherListViewModel.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Views/CipherItemView.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Views/CipherListView.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/WatchConnectivityManager.swift
  src/watchOS/bitwarden/bitwarden.xcodeproj/project.pbxproj
Labels: watchOS

#2199 [PS-1896] Add support for Vanadium in GrapheneOS
  src/Android/Accessibility/AccessibilityHelpers.cs
  src/Android/Autofill/AutofillHelpers.cs
  src/Android/Resources/xml/autofillservice.xml
Labels: community-pr

#2233 [EC-833] Fix WatchDeviceService registration to be called appropiately
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS/AppDelegate.cs
Labels: ios, watchOS

#2236 [EC-841] Fix Watch fetch cipher and added condition for previews
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Views/CipherListView.swift
Labels: watchOS

#2200 Set push token state values to be user-specific
  src/App/Services/MobileStorageService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Services/StateService.cs
Labels: needs-qa

#2243 [EC-785] Bumped Apple Watch version to 2022.12.0
  src/watchOS/bitwarden/bitwarden.xcodeproj/project.pbxproj
Labels: watchOS

#2250 [EC-835] Add kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly on Watch Keychain
  src/iOS.Core/Services/WatchDeviceService.cs
  src/iOS.Core/Utilities/DictionaryExtensions.cs
  src/iOS.Core/Utilities/WCSessionManager.cs
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Helpers/KeychainHelper.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Localization/en.lproj/Localizable.strings
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Services/StateService.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/BWState.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Utilities/Queue.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ViewModels/BWStateViewModel.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ViewModels/CipherListViewModel.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/WatchConnectivityManager.swift
  src/watchOS/bitwarden/bitwarden.xcodeproj/project.pbxproj
  src/watchOS/bitwarden/bitwarden/WatchConnectivityManager.swift
Labels: watchOS

#2256 [EC-847] Improve Watch list UI performance
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Views/CipherListView.swift
Labels: watchOS

#2258 [EC-820] Added icons for Apple Watch Complication
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/100.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/102.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/172.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/196.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/216.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/234.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/48.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/55.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/66.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/88.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/92.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Icon-59.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Icon-80.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Icon-87.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch234ShortLook.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch258ShortLook.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch38MM42MMHomeScreen.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch38MMShortLook.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch38mmNotificationCenter.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch40MM42MMShortLook.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch40MMHomeScreen.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch41MMHomeScreen.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch42mmNotificationCenter.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch44MMHomeScreen.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch44MMShortLook.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch45MMHomeScreen.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch49MMHomeScreen.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/Watch66NotificationCenter.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/WatchAppStore.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/WatchCompanionSettings@2x.png
  src/watchOS/bitwarden/bitwarden WatchKit App/Assets.xcassets/AppIcon.appiconset/WatchCompanionSettings@3x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Circular.imageset/Circular38mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Circular.imageset/Circular44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Circular.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/ExtraLarge38mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/ExtraLarge44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/GraphicBezel44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/GraphicCircular44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/GraphicCorner44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Extra Large.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Extra Large.imageset/GraphicExtraLarge38mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Graphic Extra Large.imageset/GraphicExtraLarge44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Modular.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Modular.imageset/GraphicModular38mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Modular.imageset/GraphicModular44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/Contents.json
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/GraphicUtilitarian38mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/GraphicUtilitarian44mm2x.png
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ComplicationController.swift
Labels: watchOS

#2142 [PS-1721] Add support for Dezor Browser
  src/Android/Accessibility/AccessibilityHelpers.cs
  src/Android/Autofill/AutofillHelpers.cs
  src/Android/Resources/xml/autofillservice.xml
Labels: community-pr

#2045 [PS-1353] Add support for the Neeva app
  src/Android/Accessibility/AccessibilityHelpers.cs
  src/Android/Autofill/AutofillHelpers.cs
  src/Android/Resources/xml/autofillservice.xml
Labels: community-pr

#2265 [EC-868] Clear console logging
  src/Android/Services/LocalizeService.cs
  src/iOS.Core/Services/LocalizeService.cs
  src/iOS.Core/Views/Toast.cs
  src/watchOS/bitwarden/bitwarden WatchKit Extension/Services/CryptoService.swift
Labels: android, ios, watchOS

#2267 [EC-628] Added Crashlytics to the watchOS project
  .github/secrets/GoogleService-Info.plist.gpg
  .github/workflows/build.yml
  src/watchOS/bitwarden/GoogleService-Info.plist
  src/watchOS/bitwarden/bitwarden WatchKit Extension/ExtensionDelegate.swift
  src/watchOS/bitwarden/bitwarden WatchKit Extension/bitwardenApp.swift
  src/watchOS/bitwarden/bitwarden.xcodeproj/project.pbxproj
  src/watchOS/bitwarden/bitwarden.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: watchOS

#2270 [EC-819] Update iOS app icon
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-1024.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-120.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-152.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-167.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-180.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-20.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-29.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-40.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-58.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-60.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-76.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-80.png
  src/iOS/Resources/Assets.xcassets/AppIcons.appiconset/Icon-87.png
Labels: ios
