Repository bitwarden/android, pull requests merged in 2023-03, with the labels that each got.

#2299 [EC-1002] [BEEEP] Add ability to change language in app
  src/Android/MainApplication.cs
  src/Android/Properties/AndroidManifest.xml
  src/App/Pages/Settings/OptionsPage.xaml
  src/App/Pages/Settings/OptionsPage.xaml.cs
  src/App/Pages/Settings/OptionsPageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Services/MobileI18nService.cs
  src/App/Services/PreferencesStorageService.cs
  src/Core/Abstractions/II18nService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Abstractions/IStorageMediatorService.cs
  src/Core/Abstractions/ISynchronousStorageService.cs
  src/Core/Constants.cs
  src/Core/Services/StateService.cs
  src/Core/Services/StorageMediatorOptions.cs
  src/Core/Services/StorageMediatorService.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
Labels: android, ios

#2404 [EC-981] OTP handling - Set to selected cipher
  src/Android/MainActivity.cs
  src/App/Abstractions/IAccountsManager.cs
  src/App/Abstractions/IDeepLinkContext.cs
  src/App/App.xaml.cs
  src/App/Models/AppOptions.cs
  src/App/Pages/Vault/AutofillCiphersPageViewModel.cs
  src/App/Pages/Vault/CipherAddEditPageViewModel.cs
  src/App/Pages/Vault/CipherSelectionPage.xaml
  src/App/Pages/Vault/CipherSelectionPage.xaml.cs
  src/App/Pages/Vault/CipherSelectionPageViewModel.cs
  src/App/Pages/Vault/CiphersPage.xaml.cs
  src/App/Pages/Vault/CiphersPageViewModel.cs
  src/App/Pages/Vault/OTPCipherSelectionPageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Services/DeepLinkContext.cs
  src/App/Utilities/AccountManagement/AccountsManager.cs
  src/App/Utilities/AppHelpers.cs
  src/App/Utilities/AppSetup.cs
  src/Core/Enums/NavigationTarget.cs
  src/Core/Services/TotpService.cs
  src/Core/Utilities/CoreHelpers.cs
  src/Core/Utilities/OtpData.cs
  src/Core/Utilities/UriExtensions.cs
  src/iOS/AppDelegate.cs
Labels: ios

#2407 [PM-1131] OTP Handling - Create cipher with OTP filled
  src/App/Pages/Vault/AutofillCiphersPageViewModel.cs
  src/App/Pages/Vault/CipherSelectionPage.xaml
  src/App/Pages/Vault/CipherSelectionPage.xaml.cs
  src/App/Pages/Vault/CipherSelectionPageViewModel.cs
  src/App/Pages/Vault/OTPCipherSelectionPageViewModel.cs
Labels: ios

#2408 [PM-1133] OTP Handling - Update empty states
  src/App/Pages/Vault/CipherSelectionPage.xaml
  src/App/Pages/Vault/CipherSelectionPageViewModel.cs
  src/App/Pages/Vault/CiphersPage.xaml
  src/App/Pages/Vault/CiphersPageViewModel.cs
  src/App/Pages/Vault/OTPCipherSelectionPageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/iOS/Resources/Assets.xcassets/Contents.json
  src/iOS/Resources/Assets.xcassets/empty_items_state.imageset/Contents.json
  src/iOS/Resources/Assets.xcassets/empty_items_state.imageset/Empty-items-state-dark.pdf
  src/iOS/Resources/Assets.xcassets/empty_items_state.imageset/Empty-items-state.pdf
  src/iOS/Resources/Assets.xcassets/ic_warning.imageset/Contents.json
  src/iOS/iOS.csproj
Labels: ios

#2409 [PM-1129] iOS 16 Third-Party 2FA OTP handling
  src/Android/MainActivity.cs
  src/App/Abstractions/IAccountsManager.cs
  src/App/Abstractions/IDeepLinkContext.cs
  src/App/App.xaml.cs
  src/App/Models/AppOptions.cs
  src/App/Pages/Vault/AutofillCiphersPageViewModel.cs
  src/App/Pages/Vault/CipherAddEditPageViewModel.cs
  src/App/Pages/Vault/CipherSelectionPage.xaml
  src/App/Pages/Vault/CipherSelectionPage.xaml.cs
  src/App/Pages/Vault/CipherSelectionPageViewModel.cs
  src/App/Pages/Vault/CiphersPage.xaml
  src/App/Pages/Vault/CiphersPage.xaml.cs
  src/App/Pages/Vault/CiphersPageViewModel.cs
  src/App/Pages/Vault/OTPCipherSelectionPageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Services/DeepLinkContext.cs
  src/App/Utilities/AccountManagement/AccountsManager.cs
  src/App/Utilities/AppHelpers.cs
  src/App/Utilities/AppSetup.cs
  src/Core/Constants.cs
  src/Core/Enums/NavigationTarget.cs
  src/Core/Services/TotpService.cs
  src/Core/Utilities/CoreHelpers.cs
  src/Core/Utilities/OtpData.cs
  src/Core/Utilities/UriExtensions.cs
  src/iOS/AppDelegate.cs
  src/iOS/Info.plist
  src/iOS/Resources/Assets.xcassets/Contents.json
  src/iOS/Resources/Assets.xcassets/empty_items_state.imageset/Contents.json
  src/iOS/Resources/Assets.xcassets/empty_items_state.imageset/Empty-items-state-dark.pdf
  src/iOS/Resources/Assets.xcassets/empty_items_state.imageset/Empty-items-state.pdf
  src/iOS/Resources/Assets.xcassets/ic_warning.imageset/Contents.json
  src/iOS/iOS.csproj
Labels: ios

#2411 [PM-1386] Fix OTP Data Issuer and Account name being set correctly
  src/Core/Utilities/OtpData.cs
Labels: ios

#2367 [PS-2486] Finally stop filling password into username field
  src/Android/Autofill/FieldCollection.cs
Labels: android, community-pr

#2456 [PM-1615] Fix cipher options not working in lists due to binding failing
  src/App/Controls/CipherViewCell/CipherViewCell.xaml.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageViewModel.cs
Labels: android

#2458 Revert "[PM-1615] Fix cipher options not working in lists due to binding failing"
  src/App/Controls/CipherViewCell/CipherViewCell.xaml.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageViewModel.cs
Labels: android
