Repository bitwarden/android, pull requests merged in 2023-07, with the labels that each got.

#2597 Revert "reset lock delay when returning from activity result (#2539)"
  src/Android/MainActivity.cs
  src/App/App.xaml.cs
  src/App/Pages/Vault/AttachmentsPageViewModel.cs
  src/Core/Abstractions/IVaultTimeoutService.cs
  src/Core/Services/VaultTimeoutService.cs
Labels: android, iOS

#2535 [PM-1379] add DeviceTrustCryptoService with establish trust logic
  src/Core/Abstractions/IApiService.cs
  src/Core/Abstractions/IDeviceTrustCryptoService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Models/Request/TrustedDeviceKeysRequest.cs
  src/Core/Models/Response/DeviceResponse.cs
  src/Core/Services/ApiService.cs
  src/Core/Services/DeviceTrustCryptoService.cs
  src/Core/Services/StateService.cs
Labels: android, iOS

#2608 [PM-2287][PM-2289][PM-2293] Approval Options
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/Accounts/LoginApproveDevicePage.xaml.cs
  src/App/Pages/Accounts/LoginApproveDeviceViewModel.cs
  src/App/Pages/Accounts/LoginPage.xaml.cs
  src/App/Pages/Accounts/LoginPasswordlessRequestPage.xaml
  src/App/Pages/Accounts/LoginPasswordlessRequestPage.xaml.cs
  src/App/Pages/Accounts/LoginPasswordlessRequestViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/Core/Abstractions/IAuthService.cs
  src/Core/Abstractions/IDeviceTrustCryptoService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Enums/AuthRequestType.cs
  src/Core/Models/Request/PasswordlessCreateLoginRequest.cs
  src/Core/Services/AuthService.cs
  src/Core/Services/DeviceTrustCryptoService.cs
  src/Core/Services/StateService.cs
  src/Core/Utilities/ServiceContainer.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: android, iOS

#2616 [PM-2320] Improve Android block Auto-fill URIs
  src/Android/Android.csproj
  src/Android/Renderers/CustomLabelRenderer.cs
  src/Android/Resources/drawable/empty_uris_placeholder.xml
  src/Android/Resources/drawable/empty_uris_placeholder_dark.xml
  src/Android/Resources/layout/validatable_input_dialog_layout.xml
  src/Android/Resources/values/dimens.xml
  src/Android/Services/DeviceActionService.cs
  src/App/Abstractions/IDeviceActionService.cs
  src/App/App.csproj
  src/App/Controls/CustomLabel.cs
  src/App/Pages/Settings/BlockAutofillUrisPage.xaml
  src/App/Pages/Settings/BlockAutofillUrisPage.xaml.cs
  src/App/Pages/Settings/BlockAutofillUrisPageViewModel.cs
  src/App/Pages/Settings/OptionsPage.xaml
  src/App/Pages/Settings/OptionsPage.xaml.cs
  src/App/Pages/Settings/OptionsPageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Styles/Base.xaml
  src/App/Utilities/Prompts/ValidatablePromptConfig.cs
  src/iOS.Core/Services/DeviceActionService.cs
Labels: android, iOS

#2641 [PM-3153] fix image alt text error
  README.md
Labels: community-pr

#2523 [PM-1575] Display Passkeys
  src/Android/Assets/bwi-font.ttf
  src/App/Controls/CipherViewCell/CipherViewCellViewModel.cs
  src/App/Pages/Vault/BaseCipherViewModel.cs
  src/App/Pages/Vault/CipherAddEditPage.xaml
  src/App/Pages/Vault/CipherAddEditPageViewModel.cs
  src/App/Pages/Vault/CipherDetailsPage.xaml
  src/App/Pages/Vault/CipherDetailsPage.xaml.cs
  src/App/Pages/Vault/CipherDetailsPageViewModel.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageListItem.cs
  src/App/Pages/Vault/GroupingsPage/GroupingsPageViewModel.cs
  src/App/Pages/Vault/SharePage.xaml
  src/App/Pages/Vault/SharePage.xaml.cs
  src/App/Pages/Vault/SharePageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Utilities/AppHelpers.cs
  src/App/Utilities/IconGlyphExtensions.cs
  src/App/Utilities/IconImageConverter.cs
  src/Core/Abstractions/ICipherService.cs
  src/Core/BitwardenIcons.cs
  src/Core/Constants.cs
  src/Core/Enums/CipherType.cs
  src/Core/Models/Api/Fido2KeyApi.cs
  src/Core/Models/Api/LoginApi.cs
  src/Core/Models/Data/CipherData.cs
  src/Core/Models/Data/Fido2KeyData.cs
  src/Core/Models/Data/LoginData.cs
  src/Core/Models/Domain/Cipher.cs
  src/Core/Models/Domain/Fido2Key.cs
  src/Core/Models/Domain/Login.cs
  src/Core/Models/Request/CipherRequest.cs
  src/Core/Models/Response/CipherResponse.cs
  src/Core/Models/View/CipherView.cs
  src/Core/Models/View/Fido2KeyView.cs
  src/Core/Models/View/ILaunchableView.cs
  src/Core/Models/View/LoginUriView.cs
  src/Core/Models/View/LoginView.cs
  src/Core/Services/CipherService.cs
  src/Core/Utilities/CipherTypeExtensions.cs
  src/iOS.Autofill/Resources/bwi-font.ttf
  src/iOS.Extension/Resources/bwi-font.ttf
  src/iOS/Resources/bwi-font.ttf
Labels: android, iOS

#2623 [PM-2297] Login with trusted device (Flow 2)
  src/App/Pages/Accounts/LoginApproveDevicePage.xaml.cs
  src/App/Pages/Accounts/LoginApproveDeviceViewModel.cs
  src/App/Pages/Accounts/LoginSsoPage.xaml.cs
  src/App/Pages/Accounts/LoginSsoPageViewModel.cs
  src/Core/Abstractions/IDeviceTrustCryptoService.cs
  src/Core/Models/Domain/AccountDecryptionOptions.cs
  src/Core/Models/Response/DeviceResponse.cs
  src/Core/Services/AuthService.cs
  src/Core/Services/DeviceTrustCryptoService.cs
  src/Core/Services/StateService.cs
  src/Core/Utilities/ServiceContainer.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: iOS

#2646 [PM-1280] TDE 2FA - approval options navigation
  src/App/Pages/Accounts/TwoFactorPage.xaml.cs
  src/App/Pages/Accounts/TwoFactorPageViewModel.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: iOS

#2643 [PM-2408] Pending admin approval requests
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/Accounts/LoginPasswordlessRequestViewModel.cs
  src/App/Pages/Accounts/TwoFactorPage.xaml.cs
  src/App/Pages/Accounts/TwoFactorPageViewModel.cs
  src/Core/Abstractions/IAuthService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Models/Domain/PendingAdminAuthRequest.cs
  src/Core/Services/AuthService.cs
  src/Core/Services/StateService.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: android, iOS

#2642 [PM-2289] [PM-2293] TDE Login with device Admin Request
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/Accounts/LoginPasswordlessRequestViewModel.cs
  src/App/Pages/Accounts/TwoFactorPage.xaml.cs
  src/App/Pages/Accounts/TwoFactorPageViewModel.cs
  src/Core/Abstractions/IApiService.cs
  src/Core/Abstractions/IAuthService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Models/Domain/PendingAdminAuthRequest.cs
  src/Core/Services/ApiService.cs
  src/Core/Services/AuthService.cs
  src/Core/Services/StateService.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: android, iOS
