Repository bitwarden/android, pull requests merged in 2023-08, with the labels that each got.

#2630 [PM-3092] Clarify argon2 ios autofill warning
  src/App/Resources/AppResources.resx
Labels: community-pr

#2606 [PM-2901] Synchronize sends on send creation/update/deletion notification
  src/App/Services/PushNotificationListenerService.cs
  src/Core/Abstractions/ISyncService.cs
  src/Core/Models/Response/NotificationResponse.cs
  src/Core/Services/SyncService.cs
Labels: community-pr

#2672 [PM-3342] Not you button not working
  src/App/Pages/Accounts/LoginApproveDevicePage.xaml
  src/App/Pages/Accounts/LoginApproveDevicePage.xaml.cs
  src/App/Pages/Accounts/LoginApproveDeviceViewModel.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: iOS

#2653 [PM-3102] Update Master password reprompt to be based on MP instead of Key Connector
  src/Android/MainApplication.cs
  src/App/Abstractions/IPasswordRepromptService.cs
  src/App/Pages/Accounts/LockPage.xaml.cs
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/Settings/ExportVaultPageViewModel.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Pages/Vault/CipherAddEditPage.xaml.cs
  src/App/Services/MobilePasswordRepromptService.cs
  src/App/Utilities/VerificationActionsFlowHelper.cs
  src/Core/Abstractions/IKeyConnectorService.cs
  src/Core/Abstractions/IUserVerificationService.cs
  src/Core/Services/KeyConnectorService.cs
  src/Core/Services/UserVerificationService.cs
  src/Core/Services/VaultTimeoutService.cs
  src/Core/Utilities/ServiceContainer.cs
  src/iOS.Core/Controllers/BaseLockPasswordViewController.cs
  src/iOS.Core/Controllers/LockPasswordViewController.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
Labels: android

#2667 [PM-2713] Final merge from Key Migration branch to TDE Feature branch
  src/Android/MainApplication.cs
  src/Android/Services/BiometricService.cs
  src/App/Pages/Accounts/LockPageViewModel.cs
  src/App/Pages/Accounts/RemoveMasterPasswordPageViewModel.cs
  src/App/Pages/TabsPage.cs
  src/App/Services/BaseBiometricService.cs
  src/Core/Abstractions/IApiService.cs
  src/Core/Abstractions/IBiometricService.cs
  src/Core/Abstractions/ICryptoService.cs
  src/Core/Abstractions/IKeyConnectorService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Models/Domain/Account.cs
  src/Core/Services/ApiService.cs
  src/Core/Services/AuthService.cs
  src/Core/Services/CryptoService.cs
  src/Core/Services/KeyConnectorService.cs
  src/Core/Services/StateService.cs
  src/Core/Services/SyncService.cs
  src/Core/Utilities/ServiceContainer.cs
  src/iOS.Core/Services/BiometricService.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
Labels: android, iOS

#2687 [PM-3385] Fix Master Password reprompt item level (TDE)
  src/App/Abstractions/IPasswordRepromptService.cs
  src/App/Pages/Vault/AutofillCiphersPageViewModel.cs
  src/App/Pages/Vault/CipherDetailsPageViewModel.cs
  src/App/Pages/Vault/CiphersPageViewModel.cs
  src/App/Pages/Vault/OTPCipherSelectionPageViewModel.cs
  src/App/Services/MobilePasswordRepromptService.cs
  src/App/Utilities/AppHelpers.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/Utilities/AutofillHelpers.cs
  src/iOS.Extension/LoginListViewController.cs
Labels: android, iOS

#2686 [PM-3394] Fix login with device for passwordless approvals
  src/App/Pages/Accounts/LoginApproveDevicePage.xaml.cs
  src/App/Pages/Accounts/LoginPasswordlessRequestPage.xaml.cs
  src/App/Pages/Accounts/LoginPasswordlessRequestViewModel.cs
  src/App/Pages/Accounts/LoginSsoPageViewModel.cs
  src/Core/Abstractions/IAuthService.cs
  src/Core/Services/AuthService.cs
  src/Core/Services/CryptoService.cs
  src/Core/Services/VaultTimeoutService.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: iOS

#2696 [PM-3497] Dependency Updates
  src/Android/Android.csproj
  src/App/App.csproj
  src/Core/Core.csproj
  src/iOS.Autofill/iOS.Autofill.csproj
  src/iOS.Extension/iOS.Extension.csproj
  src/iOS.ShareExtension/iOS.ShareExtension.csproj
  src/iOS/iOS.csproj
  test/Common/Common.csproj
  test/Core.Test/Core.Test.csproj
Labels: android, iOS

#2698 [PM-3508] Fix Release iPhoneSimulator configuration for iOS / Extensions
  src/iOS.Autofill/iOS.Autofill.csproj
  src/iOS.Extension/iOS.Extension.csproj
  src/iOS.ShareExtension/iOS.ShareExtension.csproj
  src/iOS/iOS.csproj
Labels: iOS

#2697 [PM-2658] Settings Reorganization Init
  src/App/App.csproj
  src/App/Controls/ExternalLinkItemView.xaml
  src/App/Controls/ExternalLinkItemView.xaml.cs
  src/App/Controls/Settings/BaseSettingControlView.cs
  src/App/Controls/Settings/SettingChooserItemView.xaml
  src/App/Controls/Settings/SettingChooserItemView.xaml.cs
  src/App/Controls/Settings/SwitchItemView.xaml
  src/App/Controls/Settings/SwitchItemView.xaml.cs
  src/App/Pages/BaseModalContentPage.cs
  src/App/Pages/BaseViewModel.cs
  src/App/Pages/PickerViewModel.cs
  src/App/Pages/Settings/AboutSettingsPage.xaml
  src/App/Pages/Settings/AboutSettingsPage.xaml.cs
  src/App/Pages/Settings/AboutSettingsPageViewModel.cs
  src/App/Pages/Settings/AppearanceSettingsPage.xaml
  src/App/Pages/Settings/AppearanceSettingsPage.xaml.cs
  src/App/Pages/Settings/AppearanceSettingsPageViewModel.cs
  src/App/Pages/Settings/AutofillServicesPage.xaml.cs
  src/App/Pages/Settings/AutofillSettingsPage.xaml
  src/App/Pages/Settings/AutofillSettingsPage.xaml.cs
  src/App/Pages/Settings/AutofillSettingsPageViewModel.cs
  src/App/Pages/Settings/OtherSettingsPage.xaml
  src/App/Pages/Settings/OtherSettingsPage.xaml.cs
  src/App/Pages/Settings/OtherSettingsPageViewModel.cs
  src/App/Pages/Settings/SecuritySettingsPage.xaml
  src/App/Pages/Settings/SecuritySettingsPage.xaml.cs
  src/App/Pages/Settings/SecuritySettingsPageViewModel.cs
  src/App/Pages/Settings/SettingsPage/SettingsPage.xaml
  src/App/Pages/Settings/SettingsPage/SettingsPage.xaml.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListGroup.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListItemSelector.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Pages/Settings/VaultSettingsPage.xaml
  src/App/Pages/Settings/VaultSettingsPage.xaml.cs
  src/App/Pages/Settings/VaultSettingsPageViewModel.cs
  src/App/Pages/TabsPage.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Styles/Base.xaml
  src/App/Styles/ControlTemplates.xaml
  src/App/Styles/ControlTemplates.xaml.cs
  src/App/Utilities/ThemeManager.cs
  src/Core/ExternalLinksConstants.cs
Labels: android, iOS

#2703 [PM-3512] Settings Appearance
  src/Android/MainActivity.cs
  src/App/App.xaml.cs
  src/App/Controls/Settings/SwitchItemView.xaml
  src/App/Pages/Accounts/HomePage.xaml.cs
  src/App/Pages/Generator/GeneratorPage.xaml.cs
  src/App/Pages/PickerViewModel.cs
  src/App/Pages/Settings/AboutSettingsPage.xaml
  src/App/Pages/Settings/AboutSettingsPage.xaml.cs
  src/App/Pages/Settings/AppearanceSettingsPage.xaml
  src/App/Pages/Settings/AppearanceSettingsPage.xaml.cs
  src/App/Pages/Settings/AppearanceSettingsPageViewModel.cs
  src/App/Pages/Settings/AutofillSettingsPage.xaml
  src/App/Pages/Settings/AutofillSettingsPage.xaml.cs
  src/App/Pages/Settings/OptionsPageViewModel.cs
  src/App/Pages/Settings/OtherSettingsPage.xaml
  src/App/Pages/Settings/OtherSettingsPage.xaml.cs
  src/App/Pages/Settings/OtherSettingsPageViewModel.cs
  src/App/Pages/Settings/SecuritySettingsPage.xaml
  src/App/Pages/Settings/SecuritySettingsPage.xaml.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Pages/Settings/VaultSettingsPage.xaml
  src/App/Pages/Settings/VaultSettingsPage.xaml.cs
  src/App/Pages/TabsPage.cs
  src/App/Styles/ControlTemplates.xaml
  src/App/Utilities/ThemeManager.cs
  src/iOS.Core/Renderers/CustomTabbedRenderer.cs
  src/iOS/AppDelegate.cs
Labels: android, iOS

#2712 fix for TDE pref naming collision
  src/Core/Constants.cs
Labels: android, iOS

#2714 [PM-3510] Implement Account Security Settings view
  src/Android/Android.csproj
  src/Android/MainApplication.cs
  src/Android/Resources/drawable/empty_login_requests.xml
  src/Android/Resources/drawable/empty_login_requests_dark.xml
  src/App/Controls/ExternalLinkItemView.xaml
  src/App/Pages/BaseViewModel.cs
  src/App/Pages/PickerViewModel.cs
  src/App/Pages/Settings/LoginPasswordlessRequestsListPage.xaml
  src/App/Pages/Settings/LoginPasswordlessRequestsListPage.xaml.cs
  src/App/Pages/Settings/LoginPasswordlessRequestsListViewModel.cs
  src/App/Pages/Settings/OtherSettingsPage.xaml.cs
  src/App/Pages/Settings/OtherSettingsPageViewModel.cs
  src/App/Pages/Settings/SecuritySettingsPage.xaml
  src/App/Pages/Settings/SecuritySettingsPage.xaml.cs
  src/App/Pages/Settings/SecuritySettingsPageViewModel.cs
  src/App/Resources/AppResources.Designer.cs
  src/App/Resources/AppResources.resx
  src/App/Services/BaseBiometricService.cs
  src/App/Services/UserPinService.cs
  src/App/Styles/ControlTemplates.xaml
  src/App/Utilities/A11yExtensions.cs
  src/App/Utilities/AppHelpers.cs
  src/Core/Abstractions/IBiometricService.cs
  src/Core/Abstractions/IPolicyService.cs
  src/Core/Abstractions/IUserPinService.cs
  src/Core/ExternalLinksConstants.cs
  src/Core/Services/PolicyService.cs
  src/Core/Services/VaultTimeoutService.cs
  src/Core/Utilities/ServiceContainer.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
  src/iOS/AppDelegate.cs
  src/iOS/Resources/Assets.xcassets/empty_login_requests.imageset/Contents.json
  src/iOS/Resources/Assets.xcassets/empty_login_requests.imageset/empty_login_requests.pdf
  src/iOS/Resources/Assets.xcassets/empty_login_requests.imageset/empty_login_requests_dark.pdf
  src/iOS/iOS.csproj
Labels: android, iOS

#2713 [PM-3543] [PM-3607] Fix password re-prompt when editing and on autofill.
  src/Android/MainApplication.cs
  src/App/Services/MobilePasswordRepromptService.cs
  src/Core/Abstractions/ICryptoService.cs
  src/Core/Services/CryptoService.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
Labels: android

#2736 [PM-3695] Add Connect to Watch to Other settings
  src/App/Pages/Settings/OtherSettingsPage.xaml
  src/App/Pages/Settings/OtherSettingsPageViewModel.cs
Labels: android, iOS

#2737 [PM-3693] Clear old Settings approach
  src/App/App.csproj
  src/App/Pages/Settings/AutofillServicesPage.xaml
  src/App/Pages/Settings/AutofillServicesPage.xaml.cs
  src/App/Pages/Settings/AutofillServicesPageViewModel.cs
  src/App/Pages/Settings/OptionsPage.xaml
  src/App/Pages/Settings/OptionsPage.xaml.cs
  src/App/Pages/Settings/OptionsPageViewModel.cs
  src/App/Pages/Settings/SettingsPage/ISettingsPageListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPage.xaml
  src/App/Pages/Settings/SettingsPage/SettingsPage.xaml.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageHeaderListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListGroup.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListItem.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageListItemSelector.cs
  src/App/Pages/Settings/SettingsPage/SettingsPageViewModel.cs
  src/App/Pages/Settings/SyncPage.xaml
  src/App/Pages/Settings/SyncPage.xaml.cs
  src/App/Pages/Settings/SyncPageViewModel.cs
  src/App/Pages/TabsPage.cs
Labels: android, iOS

#2724 [PM-3222] Migration of data from LiteDB to shared pref storage
  src/App/Pages/BaseContentPage.cs
  src/App/Services/MobileStorageService.cs
  src/Core/Abstractions/IAppIdService.cs
  src/Core/Abstractions/ICipherService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Services/AppIdService.cs
  src/Core/Services/CipherService.cs
  src/Core/Services/StateMigrationService.cs
  src/Core/Services/StateService.cs
Labels: android, iOS
