Repository bitwarden/android, pull requests merged in 2023-02, with the labels that each got.

#2331 [PS-2330][PS-2329][PS-2332][PS-2333] Checking for username terms on Android Autofill
  src/Android/Autofill/FieldCollection.cs
Labels: android

#2290 [PS-1809] Updating the account premium state when syncing the vault
  src/Core/Abstractions/IStateService.cs
  src/Core/Services/StateService.cs
  src/Core/Services/SyncService.cs
Labels: bug, android, ios

#2370 [EC-980] Added iOS otpauth handler
  src/Android/Properties/AndroidManifest.xml
  src/App/Abstractions/IDeepLinkContext.cs
  src/App/Services/DeepLinkContext.cs
  src/App/Utilities/AppSetup.cs
  src/Core/Constants.cs
  src/iOS/AppDelegate.cs
  src/iOS/Info.plist
Labels: ios

#2278 [EC-763] Cake build watchOS
  appIcons/Android/beta-layered-excluded.svg
  appIcons/Android/beta-layered.svg
  appIcons/Android/dev-layered-excluded.svg
  appIcons/Android/dev-layered.svg
  appIcons/Android/qa-layered-excluded.svg
  appIcons/Android/qa-layered.svg
  appIcons/iOS/beta.png
  appIcons/iOS/dev.png
  appIcons/iOS/prod.png
  appIcons/iOS/qa.png
  appIcons/icongen.sh
  build.cake
Labels: DevOps, watchOS
