Repository bitwarden/android, pull requests merged in 2024-02, with the labels that each got.

#2974 [PM-5902] Fix Account Switcher can't be dismissed when tapping outside of it
  src/Core/Controls/AccountSwitchingOverlay/AccountSwitchingOverlayView.xaml
Labels: MAUI

#2973 [PM-5903] Fix Account Switcher visible on Android when no Accounts are logged in
  src/App/Platforms/Android/MainActivity.cs
  src/Core/App.xaml.cs
Labels: android, iOS, MAUI

#2969 [PM-5896] Fix MAUI iOS Background crash due to lock files on suspension
  src/App/Platforms/iOS/AppDelegate.cs
  src/Core/Controls/AuthenticatorViewCell/AuthenticatorViewCell.xaml
  src/Core/Controls/AuthenticatorViewCell/AuthenticatorViewCell.xaml.cs
  src/Core/Controls/CipherViewCell/BaseCipherViewCell.cs
  src/Core/Controls/CipherViewCell/CipherViewCell.xaml
  src/Core/Controls/CipherViewCell/CipherViewCell.xaml.cs
  src/Core/MauiProgram.cs
  src/Core/Pages/Vault/CipherItemViewModel.cs
Labels: android, iOS, MAUI

#2983 [PM-6077] Separated Android and iOS HybridWebViewHandler so that it can be used in iOS.Core
  src/App/Handlers/HybridWebViewHandler.cs
  src/App/MauiProgram.cs
  src/App/Platforms/Android/Handlers/HybridWebViewHandler.cs
  src/iOS.Core/Handlers/HybridWebViewHandler.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
Labels: android, iOS, MAUI

#2982 [PM-5907] Fix for incorrect TOTP white text color on label when using light theme on iOS
  src/Core/Pages/Vault/CipherAddEditPage.xaml.cs
Labels: MAUI

#2981 [PM-5906] Fix for incorrect Send MaxAccess white text color on label when using light theme on iOS
  src/Core/Pages/Send/SendAddEditPage.xaml.cs
Labels: MAUI

#2988 [PM-5913] Fix for MAUI not reporting the correct Theme when resuming an iOS App
  src/Core/Utilities/ThemeManager.cs
Labels: MAUI

#2956 [PM-4615] [PM-6217] Add new DUO frameless 2fa flow
  src/Core/Constants.cs
  src/Core/Pages/Accounts/TwoFactorPage.xaml
  src/Core/Pages/Accounts/TwoFactorPageViewModel.cs
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
Labels: android, iOS

#3014 [PM-5909] Fix Font MAUI Sizes
  src/Core/Pages/Send/SendGroupingsPage/SendGroupingsPage.xaml
  src/Core/Resources/Styles/Android.xaml
  src/Core/Resources/Styles/iOS.xaml
Labels: MAUI

#3017 [PM-5154] Implement Passkeys on iOS
  Directory.Build.props
  src/Core/Abstractions/ICipherService.cs
  src/Core/Models/Api/Fido2CredentialApi.cs
  src/Core/Models/Data/Fido2CredentialData.cs
  src/Core/Models/Domain/Fido2Credential.cs
  src/Core/Models/View/Fido2CredentialView.cs
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
  src/Core/Services/CipherService.cs
  src/Core/Services/Fido2AuthenticatorService.cs
  src/Core/Services/Logging/ClipLogger.cs
  src/Core/Services/Logging/LoggerHelper.cs
  src/iOS.Autofill/ColorConstants.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/Fido2MakeCredentialUserInterface.cs
  src/iOS.Autofill/ILoginListViewController.cs
  src/iOS.Autofill/ListItems/HeaderItemView.cs
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Autofill/LoginListViewController.designer.cs
  src/iOS.Autofill/LoginSearchViewController.cs
  src/iOS.Autofill/MainInterface.storyboard
  src/iOS.Autofill/Models/Context.cs
  src/iOS.Autofill/Resources/Assets.xcassets/Contents.json
  src/iOS.Autofill/Resources/Assets.xcassets/LightSecondary300.colorset/Contents.json
  src/iOS.Autofill/Resources/Assets.xcassets/LightTextMuted.colorset/Contents.json
  src/iOS.Autofill/Resources/Assets.xcassets/empty_items_state.imageset/Contents.json
  src/iOS.Autofill/Resources/Assets.xcassets/empty_items_state.imageset/Empty-items-state-dark.pdf
  src/iOS.Autofill/Resources/Assets.xcassets/empty_items_state.imageset/Empty-items-state.pdf
  src/iOS.Autofill/SegueConstants.cs
  src/iOS.Autofill/Utilities/BaseLoginListTableSource.cs
  src/iOS.Autofill/iOS.Autofill.csproj
  src/iOS.Core/Utilities/ASHelpers.cs
  src/iOS.Core/Utilities/NSDataExtensions.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
  src/iOS.Core/Views/ExtensionTableSource.cs
  src/iOS.Extension/LoginListViewController.cs
Labels: iOS

#3033 [PM-6309] Fix for 'Show website icons' option not being respected
  src/Core/Controls/CipherViewCell/BaseCipherViewCell.cs
Labels: MAUI

#3026 [PM-6301] Fix for pending login view breaks after closing one request
  src/Core/Pages/Settings/LoginPasswordlessRequestsListViewModel.cs
Labels: MAUI

#3032 Added ConditionedAwaiter to avoid race condition issue where HomePage navigation would run after the main navigation
  src/Core/Abstractions/IConditionedAwaiterManager.cs
  src/Core/Pages/Accounts/HomePage.xaml.cs
  src/Core/Pages/AndroidNavigationRedirectPage.xaml.cs
  src/Core/Services/ConditionedAwaiterManager.cs
  src/Core/Utilities/AccountManagement/AccountsManager.cs
Labels: MAUI

#3031 [PM-5912] Fix for some iOS buttons not having the correct height and corner radius
  src/Core/Pages/Accounts/LoginPasswordlessPage.xaml
  src/Core/Resources/Styles/iOS.xaml
Labels: MAUI

#3036 [PM-5917] Fix for send arrow now being touch sensitive to expand collapse
  src/Core/Pages/Send/SendAddEditPage.xaml
Labels: MAUI

#3041 Change version to proper value
  src/App/Platforms/Android/AndroidManifest.xml
  src/App/Platforms/iOS/Info.plist
  src/iOS.Autofill/Info.plist
  src/iOS.Extension/Info.plist
  src/iOS.ShareExtension/Info.plist
Labels: iOS, DevOps

#3042 [PM-5916] Fix for incorrect fonts in fingerprint phrases
  src/Core/Pages/Accounts/LoginPasswordlessPage.xaml
  src/Core/Pages/Accounts/LoginPasswordlessRequestPage.xaml
  src/Core/Pages/Settings/LoginPasswordlessRequestsListPage.xaml
Labels: MAUI
