Repository bitwarden/android, pull requests merged in 2024-03, with the labels that each got.

#3047 [PM-6552] Fix for App only showing Home (Login) Page after closed after opening Accessibility Settings
  src/Core/App.xaml.cs
  src/Core/Pages/Settings/AutofillSettingsPageViewModel.android.cs
Labels: android, iOS, MAUI

#3052 [PM-6552] Added missing using in previous PR
  src/Core/Pages/AndroidNavigationRedirectPage.xaml.cs
Labels: MAUI

#3049 [PM-6539] Fix Autofill Extension TDE without MP flow
  src/Core/Core.csproj
  src/Core/Pages/Accounts/LoginSsoPage.xaml.cs
  src/Core/Pages/Accounts/LoginSsoPageViewModel.cs
  src/Core/Services/Logging/DebugLogger.cs
  src/Core/Services/StateMigrationService.cs
  src/Core/Utilities/WebAuthenticatorMAUI/WebAuthenticator.ios.cs
  src/Core/Utilities/WebAuthenticatorMAUI/WebAuthenticator.shared.cs
  src/Core/Utilities/WebAuthenticatorMAUI/WebAuthenticatorResult.cs
  src/Core/Utilities/WebAuthenticatorMAUI/WebUtils.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/LockPasswordViewController.cs
  src/iOS.Core/Controllers/BaseLockPasswordViewController.cs
  src/iOS.Core/Controllers/LoginAddViewController.cs
  src/iOS.Extension/LoadingViewController.cs
  src/iOS.ShareExtension/LoadingViewController.cs
Labels: android, iOS

#3044 [PM-6466] Implement passkeys User Verification
  src/App/Platforms/Android/MainApplication.cs
  src/Core/Abstractions/IFido2GetAssertionUserInterface.cs
  src/Core/Abstractions/IFido2MakeCredentialUserInterface.cs
  src/Core/Abstractions/IFido2UserInterface.cs
  src/Core/Abstractions/IPasswordRepromptService.cs
  src/Core/Abstractions/IPlatformUtilsService.cs
  src/Core/Abstractions/IUserPinService.cs
  src/Core/Abstractions/IUserVerificationMediatorService.cs
  src/Core/Abstractions/IUserVerificationService.cs
  src/Core/Core.csproj
  src/Core/Models/Domain/SymmetricCryptoKey.cs
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
  src/Core/Services/Fido2AuthenticatorService.cs
  src/Core/Services/Fido2ClientService.cs
  src/Core/Services/Logging/LoggerHelper.cs
  src/Core/Services/MobilePasswordRepromptService.cs
  src/Core/Services/MobilePlatformUtilsService.cs
  src/Core/Services/UserPinService.cs
  src/Core/Services/UserVerification/Fido2UserVerificationPreferredServiceStrategy.cs
  src/Core/Services/UserVerification/Fido2UserVerificationRequiredServiceStrategy.cs
  src/Core/Services/UserVerification/IUserVerificationServiceStrategy.cs
  src/Core/Services/UserVerification/UserVerificationMediatorService.cs
  src/Core/Services/UserVerificationService.cs
  src/Core/Utilities/Fido2/Fido2AuthenticatorGetAssertionParams.cs
  src/Core/Utilities/Fido2/Fido2AuthenticatorMakeCredentialParams.cs
  src/Core/Utilities/Fido2/Fido2GetAssertionUserInterface.cs
  src/Core/Utilities/Fido2/Fido2UserVerificationOptions.cs
  src/Core/Utilities/Fido2/Fido2UserVerificationPreference.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/Fido2MakeCredentialUserInterface.cs
  src/iOS.Autofill/LoginAddViewController.cs
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Autofill/MainInterface.storyboard
  src/iOS.Autofill/Models/Context.cs
  src/iOS.Autofill/Utilities/BaseLoginListTableSource.cs
  src/iOS.Autofill/Utilities/InvalidOperationNeedsUIException.cs
  src/iOS.Autofill/iOS.Autofill.csproj
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
  test/Core.Test/Services/Fido2AuthenticatorGetAssertionTests.cs
  test/Core.Test/Services/Fido2AuthenticatorMakeCredentialTests.cs
  test/Core.Test/Services/Fido2AuthenticatorSilentCredentialDiscoveryTests.cs
  test/Core.Test/Services/Fido2ClientAssertCredentialTests.cs
  test/Core.Test/Services/Fido2ClientCreateCredentialTests.cs
  test/Core.Test/Utilities/Fido2/Fido2GetAssertionUserInterfaceTests.cs
Labels: android, iOS

#3054 [PM-6474] Remove header on Save passkey as new login
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Autofill/LoginListViewController.designer.cs
  src/iOS.Autofill/MainInterface.storyboard
Labels: iOS

#3058 [PM-6496] Improved iOS extensions cipher cell UI
  src/iOS.Autofill/ListItems/HeaderItemView.cs
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Autofill/LoginSearchViewController.cs
  src/iOS.Core/Controllers/ExtendedUITableViewCell.cs
  src/iOS.Core/Models/CipherViewModel.cs
  src/iOS.Core/Views/CipherLoginTableViewCell.cs
  src/iOS.Core/Views/ExtensionTableSource.cs
  src/iOS.Extension/LoginListViewController.cs
Labels: iOS

#3069 [PM-6726] Fix for Android 14 devices crashing when using the Tiles
  src/App/Platforms/Android/Autofill/AutofillHelpers.cs
  src/App/Platforms/Android/Tiles/AutofillTileService.cs
  src/App/Platforms/Android/Tiles/GeneratorTileService.cs
  src/App/Platforms/Android/Tiles/MyVaultTileService.cs
  src/App/Platforms/Android/Utilities/AndroidHelpers.cs
Labels: bug

#3071 [PM-6751]Added missing query intent for CustomTabs that might be responsible for the Exception in WebAuthenticator
  src/App/Platforms/Android/AndroidManifest.xml
Labels: bug

#3075 [PM-5154] Implement combined view for passwords and passkeys on iOS Autofill extension
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
  src/Core/Services/Fido2AuthenticatorService.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/ILoginListViewController.cs
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Autofill/LoginListViewController.designer.cs
  src/iOS.Autofill/LoginSearchViewController.cs
  src/iOS.Autofill/MainInterface.storyboard
  src/iOS.Autofill/Models/Context.cs
  src/iOS.Autofill/Utilities/AutofillHelpers.cs
  src/iOS.Autofill/Utilities/BaseLoginListTableSource.cs
  src/iOS.Autofill/Utilities/Fido2GetAssertionFromListUserInterface.cs
  src/iOS.Autofill/iOS.Autofill.csproj
  src/iOS.Core/Models/CipherViewModel.cs
  src/iOS.Core/Views/CipherLoginTableViewCell.cs
  src/iOS.Core/Views/ExtensionTableSource.cs
Labels: iOS

#3081 Add version codes to GitHub step summary
  .github/workflows/build.yml
Labels: devops

#3078 [PM-6685] Fix fingerprint verification on unlocked accounts because of race condition
  src/Core/Abstractions/IConditionedAwaiterManager.cs
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
  src/Core/Services/ConditionedAwaiterManager.cs
  src/Core/Services/UserVerification/Fido2UserVerificationPreferredServiceStrategy.cs
  src/Core/Services/UserVerification/Fido2UserVerificationRequiredServiceStrategy.cs
  src/Core/Services/UserVerification/UserVerificationMediatorService.cs
  src/Core/Utilities/Fido2/Fido2UserVerificationOptions.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
Labels: iOS

#3082 [PM-6468] Implement copy TOTP after using Passkey if needed
  src/Core/Abstractions/ICipherService.cs
  src/Core/Abstractions/IFido2AuthenticationService.cs
  src/Core/Abstractions/IFido2MediatorService.cs
  src/Core/Services/CipherService.cs
  src/Core/Services/Fido2AuthenticationService.cs
  src/Core/Services/Fido2AuthenticatorService.cs
  src/Core/Services/Fido2ClientService.cs
  src/Core/Services/Fido2MediatorService.cs
  src/Core/Utilities/Fido2/Fido2AuthenticatorGetAssertionResult.cs
  src/Core/Utilities/Fido2/Fido2ClientAssertCredentialResult.cs
  src/Core/Utilities/ServiceContainer.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Core/Utilities/iOSCoreHelpers.cs
Labels: iOS

#3093 DEVOPS-1790 - Add Cleanup RC Branch workflow
  .github/workflows/cleanup-rc-branch.yml
Labels: devops

#3099 [PM-6848] Improved User verification on passkeys creation
  src/Core/Abstractions/IPlatformUtilsService.cs
  src/Core/Abstractions/IUserVerificationMediatorService.cs
  src/Core/Pages/Accounts/LockPageViewModel.cs
  src/Core/Pages/Settings/SecuritySettingsPageViewModel.cs
  src/Core/Services/Fido2AuthenticatorService.cs
  src/Core/Services/MobilePlatformUtilsService.cs
  src/Core/Services/UserVerification/Fido2UserVerificationPreferredServiceStrategy.cs
  src/Core/Services/UserVerification/Fido2UserVerificationRequiredServiceStrategy.cs
  src/Core/Services/UserVerification/IUserVerificationServiceStrategy.cs
  src/Core/Services/UserVerification/UserVerificationMediatorService.cs
  src/Core/Utilities/CancellableResult.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/LoginAddViewController.cs
  src/iOS.Autofill/LoginListViewController.cs
  src/iOS.Core/Controllers/BaseLockPasswordViewController.cs
Labels: iOS

#3091 [PM-7009] Improved exception messages for the Broadcast Service message callback function
  src/Core/App.xaml.cs
Labels: android, iOS

#3104 [PM-6844] Fix passkey cipher list empty view label small device
  src/iOS.Autofill/MainInterface.storyboard
Labels: iOS

#3106 [PM-6798] Fix account switch on autofill
  src/Core/Abstractions/IStateService.cs
  src/Core/Services/StateService.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
Labels: iOS

#3114 [PM-6475] Fix dark theme on iOS Autofill extension
  src/iOS.Autofill/MainInterface.storyboard
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/Contents.json
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/logo.png
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/logo@2x.png
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/logo@3x.png
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/logo_white.png
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/logo_white@2x.png
  src/iOS.Autofill/Resources/Assets.xcassets/splash_logo.imageset/logo_white@3x.png
  src/iOS.Autofill/Resources/Assets.xcassets/text_color.colorset/Contents.json
Labels: iOS

#3121 [PM-6798] Fix account switch on iOS Autofill extension
  src/Core/Services/Fido2AuthenticatorService.cs
  src/Core/Services/Logging/ClipLogger.cs
  src/Core/Utilities/Fido2/Fido2AuthenticatorException.cs
  src/iOS.Autofill/CredentialProviderViewController.Passkeys.cs
  src/iOS.Autofill/CredentialProviderViewController.cs
  src/iOS.Autofill/Fido2MakeCredentialUserInterface.cs
  src/iOS.Autofill/Utilities/BaseLoginListTableSource.cs
  src/iOS.Autofill/Utilities/Fido2GetAssertionFromListUserInterface.cs
Labels: iOS
