Repository bitwarden/android, pull requests merged in 2024-06, with the labels that each got.

#3282 [PM-8666] Fix Password Autofill from Quick Type on iOS < 17
  src/iOS.Autofill/CredentialProviderViewController.cs
Labels: iOS

#3300 [AC-2788] Remove unassigned items feature flag and logic
  src/Core/Abstractions/IApiService.cs
  src/Core/Abstractions/ICipherService.cs
  src/Core/Abstractions/IStateService.cs
  src/Core/Constants.cs
  src/Core/Models/AppOptions.cs
  src/Core/Pages/Accounts/LockPage.xaml.cs
  src/Core/Pages/Accounts/LoginApproveDevicePage.xaml.cs
  src/Core/Pages/Accounts/LoginPage.xaml.cs
  src/Core/Pages/Accounts/LoginPasswordlessRequestPage.xaml.cs
  src/Core/Pages/Accounts/SetPasswordPage.xaml.cs
  src/Core/Pages/Accounts/TwoFactorPage.xaml.cs
  src/Core/Pages/TabsPage.cs
  src/Core/Pages/Vault/GroupingsPage/GroupingsPage.xaml.cs
  src/Core/Pages/Vault/GroupingsPage/GroupingsPageViewModel.cs
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
  src/Core/Services/ApiService.cs
  src/Core/Services/CipherService.cs
  src/Core/Services/StateService.cs
Labels: android, iOS

#3305 [PM-9043] BIT-2356: Update casing of Bitwarden Help Center string
  src/Core/Resources/Localization/AppResources.Designer.cs
  src/Core/Resources/Localization/AppResources.resx
Labels: community-pr

#3338 [PM-9151] gradle: Fix typo for Robolectric library name
  gradle/libs.versions.toml
Labels: community-pr
