Repository bitwarden/android, pull requests merged in 2025-06, with the labels that each got.

#5304 [deps] Update protobuf
  gradle/libs.versions.toml
Labels: app:authenticator

#5305 [deps] Update Google guava library
  gradle/libs.versions.toml
Labels: app:authenticator

#5318 [PM-22437] Add product release notes to GitHub Releases
  .github/scripts/jira-get-release-notes/README.md
  .github/scripts/jira-get-release-notes/jira_release_notes.py
  .github/scripts/jira-get-release-notes/pyproject.toml
  .github/scripts/jira-get-release-notes/uv.lock
  .github/workflows/github-release.yml
Labels: t:ci

#5401 [PM-22903] fix unit test execution
  README.md
  app/build.gradle.kts
Labels: community-pr
