Repository bitwarden/android, pull requests merged in 2025-01, with the labels that each got.

#4522 [PM-15969] Users with Can Edit access cannot assign collections
  app/src/main/java/com/x8bit/bitwarden/ui/vault/feature/util/CollectionViewExtensions.kt
  app/src/test/java/com/x8bit/bitwarden/ui/vault/feature/addedit/VaultAddEditViewModelTest.kt
  app/src/test/java/com/x8bit/bitwarden/ui/vault/feature/util/CollectionViewExtensionsTest.kt
Labels: backport

#4521 [PM-8217] Add local feature flag to ignore environment validation
  app/src/main/java/com/x8bit/bitwarden/data/auth/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/x8bit/bitwarden/data/platform/manager/model/FlagKey.kt
  app/src/main/java/com/x8bit/bitwarden/ui/platform/feature/debugmenu/components/FeatureFlagListItems.kt
  app/src/main/res/values/strings_non_localized.xml
  app/src/test/java/com/x8bit/bitwarden/data/auth/repository/AuthRepositoryTest.kt
  app/src/test/java/com/x8bit/bitwarden/data/platform/manager/FlagKeyTest.kt
  app/src/test/java/com/x8bit/bitwarden/ui/platform/feature/debugmenu/DebugMenuViewModelTest.kt
Labels: backport

#4535 [PM-16809] Fix remind me later date (#4526)
  app/src/main/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeEmailAccessViewModel.kt
  app/src/main/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeTwoFactorViewModel.kt
  app/src/test/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeEmailAccessViewModelTest.kt
  app/src/test/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeTwoFactorViewModelTest.kt
Labels: backport

#4536 [PM-16670] Force app to sync after 2FA notice (#4525)
  app/src/main/java/com/x8bit/bitwarden/data/auth/repository/AuthRepositoryImpl.kt
  app/src/main/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeTwoFactorViewModel.kt
  app/src/test/java/com/x8bit/bitwarden/data/auth/repository/AuthRepositoryTest.kt
  app/src/test/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeTwoFactorViewModelTest.kt
Labels: backport

#4527 [PM-16695] Learn more new device verification
  app/src/main/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeEmailAccessScreen.kt
  app/src/main/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeEmailAccessViewModel.kt
  app/src/test/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeEmailAccessScreenTest.kt
  app/src/test/java/com/x8bit/bitwarden/ui/auth/feature/newdevicenotice/NewDeviceNoticeEmailAccessViewModelTest.kt
Labels: backport

#4538 [PM-16827] Fix test.yml sdk package access and refactor test jobs
  .github/workflows/test.yml
Labels: ci/cd

#4545 [PM-16808] Add question mark to copy (#4544)
  app/src/main/res/values/strings.xml
Labels: backport

#4534 [PM-16870] Add support for IronFox
  app/src/main/assets/fido2_privileged_community.json
  app/src/main/java/com/x8bit/bitwarden/data/autofill/accessibility/util/BrowserUtil.kt
  app/src/main/res/xml/autofill_service_configuration.xml
Labels: community-pr

#4189 [PM-14240] Add Quetta Browser to Privileged Apps
  app/src/main/assets/fido2_privileged_community.json
Labels: community-pr

#4550 [PM-16827] Only report coverage when tests pass
  .github/workflows/test.yml
Labels: ci/cd

#4568 [PM-17119] Add domains to network config
  app/src/main/res/xml/network_security_config.xml
Labels: bug

#4562 [PM-17099] Re-Sort Quetta Browser Alphabetically
  app/src/main/assets/fido2_privileged_community.json
Labels: community-pr
